.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .nav-align {
  flex-direction: column-reverse;
} */

.footer-deco {
  color: blueviolet;
  text-align: center;
}

.article-deco {
  color: blueviolet;
  text-align: center;
}
