ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li a.active {
  background-color: rgb(183, 183, 183);
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

footer {
  bottom: 0;
}
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  position: absolute;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  line-height: 40px;
  color: black;
  border-top: 1px solid #dee5e7;
  background-color: #f2f2f2;
  text-align: center;
}
/* * {
  border: 1px dotted gray;
} */
/* 
.statistics-last{
    padding-left: 14rem;
    margin-top: 1rem; 
} */
.first-section {
  border: 1px solid black;
  border-collapse: collapse;
}

tr th {
  border: 1px solid black;
  border-collapse: collapse;
}

.color-gray {
  background-color: rgb(153, 153, 153);
}
