* {
  color: rgb(51, 51, 51);
}

.title {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
}

.outline {
  background-color: rgb(228, 228, 228);
  width: 1000px;
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}

.white-box {
  background-color: white;
  width: 700px;
  padding: 50px;
}

.button {
  background-color: rgb(113, 113, 113);
  color: white;
  border: 0px;
  width: 120px;
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  margin-top: 50px;
}
