html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.nav > li > a {
  text-decoration: none;
  color: gray;
}

.first-block {
  padding-left: 14rem;
  /* border: 1px solid black; */
}

.second-block {
  padding-left: 14rem;
}

.second-block > tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.third-block {
  /* padding-left: 14rem; */
  border: 1px solid black;
  border-collapse: collapse;
}

.sidebar {
  list-style-type: none;
}

.sidebar > li > a {
  text-decoration: none;
  color: gray;
}
footer {
  bottom: 0;
}
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  position: absolute;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  line-height: 40px;
  color: black;
  border-top: 1px solid #dee5e7;
  background-color: #f2f2f2;
  text-align: center;
}
