.nav {
  text-decoration: none;
  text-decoration-line: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-deco {
  color: white;
  text-align: center;
}

.article-deco {
  color: white;
  text-align: center;
}

body {
  background-image: url(../Images/KakaoTalk_20221110_145226262.png);
}
