ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: rgb(127, 127, 127);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
}

.footer-deco {
  color: white;
  text-align: center;
}

.article-deco {
  padding-top: 20rem;
  color: white;
  text-align: center;
  height: 200px;
}

body {
  background-size: 90.5% 85%;
  background-image: url(../Images/KakaoTalk_20221110_145226262.png);
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  right: 3%;
  left: 5%;
  position: fixed;
  bottom: 3rem;
  height: 70px;
  width: 90%;
  line-height: 35px;
  color: white;
  border-top: 1px solid #dee5e7;
  background-color: rgb(85, 85, 85);
  text-align: center;
  padding-bottom: 0;
}
html,
body {
  height: 100%;
  /* padding-bottom: 0; */
}
#wrap {
  min-height: 100%;
  position: relative;
}

.nav {
  margin-left: 0.3%;
  margin-right: 0.3%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: rgb(85, 85, 85);
  align-items: center;
  /* background-size: 90.5% 80%; */
}
.nav > li > a {
  text-decoration: none;
  color: white;
  padding: 36px 70px;
}

.font-size {
  font-size: 35px;
  font-weight: 900;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}
